/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;

  --basic-red: #FB565A;
  --button-red-focus: #E74246;
  --button-red-active: #D7373B;

  --basic-green: #00CA74;
  --basic-green-focus: #00BC6C;
  --basis-green-active: #00AA62;

  --basic-yellow: #EFC84A;
  --basic-yellow-focus: #EAB534;
  --basic-yellow-active: #E5A722;

  --basic-grey: #eeeeee;
  --basic-active: #A7A7A7;
  --basic-logo: #cccccc;
  --basic-element: #e1e1e1;
  --basic-text: #666666;

  --basic-modal: #3f4040;
}

/* Global */

.page-body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  color: var(--basic-black);
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  /* text-align: center; */
  color: var(--basic-white);
  /* vertical-align: middle; */
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  /* padding-top: 0; */
  /* padding-bottom: 0; */
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Navigation */

.main-header,
.main-features {
  background-color: var(--basic-grey);
  /* border: 3px solid red; */
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}

.site-navigation {
  list-style: none;
}

.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  font: inherit;
  color: var(--basic-black);
  text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-red);
}

.site-navigation a:active,
.user-navigation a:active {
  color: var(--basic-active);
}

/* Features */

.features {
  background-color: var(--basic-grey);
}

.features h3 {
  margin: 0;
  margin-top: 5px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.features p {
  margin: 0;
  padding: 0;
  margin-top: 28px;
  font-size: 16px;
  line-height: 24px;
}

.features-button {
  margin-top: 38px;
  width: 240px;
  height: 50px;
  /* margin-top: 5px; */
}

.button:hover,
.button:focus {
  background-color: var(--button-red-focus);
}

.button:active {
  background-color: var(--button-red-active);
  color: rgba(255,255,255,0.3);
}

/* Services */

.services-list {
  list-style: none;
}

.services-list h3 {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.services-list-p {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
}

.services-list .button-red,
.services-list .button-green,
.services-list .button-yellow {
  width: 160px;
  height: 50px;

}

.button-green {
  background-color: var(--basic-green);
}
.button-green:hover,
.button-green:focus {
  background-color: var(--basic-green-focus);
}
.button-green:active {
  background-color: var(--basis-green-active);
}

.button-yellow {
  background-color: var(--basic-yellow);
}
.button-yellow:hover,
.button-yellow:focus {
  background-color: var(--basic-yellow-focus);
}
.button-yellow:active {
  background-color: var(--basic-yellow-active);
  color: rgba(255,255,255,0.3);
}

/* INFO */

.info {
  padding-top: 120px;
}

.smoll-proud {
  padding: 0;
  margin: 0;
  padding-top: 30px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.confession {
  padding-top: 16px;
  font-size: 16px;
  line-height: 24px;
}

.orders {
  padding-top: 25px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.orders-list {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
}

.orders-item {
  margin-top: 30px;
  margin-left: 12px;
}

/* LEVEL */

.level {
  margin: 0;
  padding: 0;
}

.level-text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 13px;
  padding-left: 17px;
}

.level-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.level-list .sup {
  font-size: 26px;
  padding: 0;
  margin: 0;
}

.level-persent {
  margin: 0;
  padding: 0;
  padding-top: 52px;
  margin-bottom: 25px;
  font-size: 45px;
  line-height: 10px;
  font-weight: bold;
}

.level-list-text {
  font-size: 16px;
  line-height: 18px;
}

.level-list-item {
  margin-right: 10px;
}

/* PARTNERS */

.partners a{
  opacity: 20%;
}

.partners a:hover,
.partners a:focus {
  opacity: 100%;
}
.partners a:active {
  opacity: 10%;
}

/* FOOTER */

/* CONTACTS */

.contacts .caption {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts .text {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-text);
}

.contacts {
  width: 1442px;
  min-height: 418px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

.contacts-address {
  width: 319px;
  height: 308px;
  background-color: var(--basic-white);
  position: absolute;
  margin-left: 140px;
  margin-top: 55px;
  margin-bottom: 55px;
}

.contacts-text {
  position: absolute;
  padding: 47px  50px;
}

.contacts-text .button {
  width: 219px;
  height: 50px;
}

.map-marker {
  position: absolute;
  margin-left: 820px;
  margin-top: 90px;
}

/* COCIAL */

.footer-list {
  list-style: none;
}

.footer-circle {
  width: 81px;
  height: 81px;
  background-color: var(--basic-element);
  fill: var(--basic-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-circle:hover,
.footer-circle:focus {
  background-color: var(--button-red-focus);
}

.footer-circle:active {
  background-color: var(--button-red-active);
  fill: rgba(255, 255, 255, 0.3);;
}

.footer-friends {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.footer-friends-percent {
  font-size: 16px;
  line-height: 24px;
}

/* MODAL */

.modal {
  width: 960px;
  height: 590px;
  box-shadow: 0px 20px 40px rgba(0, 1, 1, 0.75);
}

.modal .title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal label {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}


/* FLEXBOX  NAVIGATION */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  /* border: 2px solid rgb(255, 0, 242); */
}

.main-navigation {
  min-height: 67px;
  padding-top: 48px;
  /* border: 3px solid red; */
}

.main-navigation .container {
  display: flex;
}

.main-header-logo {
  width: 160px;
  height: 67px;
  /* border: 2px solid yellow; */
  /* display: block; */
}

.site-navigation {
  width: 436px;
  min-height: 67px;
  margin: 0;
  padding: 0;
  margin-left: 202px;
  /* border: 2px solid yellow; */
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 115px;
  min-height: 67px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  /* border: 2px solid yellow; */
}

.slider {
  width: 91px;
  height: 21px;
  position: absolute;
  top: 430px;
  left: 50%;
}

/* FLEXBOX FEATURES */

.features {
  display: flex;
  height: 430px;
  /* border: 2px solid blue; */
}

.features-text {
  width: 431px;
  height: 313px;
  padding-top: 68px;
  /* border: 2px solid yellow; */
}

.mathematic {
  margin-top: 32px;
  margin-bottom: 46px;
}

.features-img {
  padding-top: 15px;
}

/* FLEXBOX SERVICES */
.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  /* border: 3px solid red; */
}

.service-item {
  margin-top: 80px;
}

.services-margin {
  margin-right: 100px;
}

/* FLEXBOX INFO */
.info {
  display: flex;
  justify-content: space-between;
}

.level {
  width: 360px;
  /* border: 3px solid green; */
}

.level-img {
  width: 360px;
  /* border: 3px solid yellow; */
}

.level-text {
  width: 360px;
  /* border: 3px solid yellow; */
}

.level-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: auto;
  /* border: 3px solid rgb(255, 0, 242); */
}

.level-list-item {
  /* border: 3px solid red; */
}

/* FLEXBOX PARTNERS */

.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 182px;
  /* border: 3px solid green; */
  padding-top: 62px;
}

.partners-item {
  width: 290px;

  text-align: center;
  vertical-align: center;
  /* border: 3px solid yellow; */
}

.partners img {
  vertical-align: middle;
}

/* FKEXBOX FRIENDS */

.footer-list {
  margin: 0;
  padding: 0;
  margin-top: 68px;
  margin-bottom: 68px;
  height: 80px;

  display: flex;
  /* border: 3px solid green; */
}

.footer-list .footer-item {
  margin-right: 10px;
  /* border: 3px solid yellow; */
}

.footer-item:last-child {
  padding: 0;
  margin: 0;
  margin-left: 96px;
  /* border: 3px solid blue; */
}

.footer-item:last-child p {
  padding: 0;
  margin: 0;
  /* border: 3px solid red; */
}
